{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-sm border-2 border-gray-200">
    <h1 class="custom-header">À propos de <span class="relative inline-block bg-black text-white mx-4 p-2 rounded-lg">
       Cabinet Digital
    </span></h1>
    <div class="bg-white text-black">
        <section class="mb-12 relative overflow-hidden">
            <h2 class="text-black">Notre mission</h2>
            <p class="quote-text border-l-4 border-gray-200 pl-4">Depuis 2022, Cabinet Digital éclaire le chemin des cabinets d'expertise comptable et des entreprises françaises dans la jungle numérique. Notre boussole indépendante pointe vers les meilleures solutions logicielles, offrant une carte détaillée et impartiale du paysage technologique.</p>
        </section>

        <section class="mb-12 relative overflow-hidden">
            <h2 class="text-black">Notre expertise</h2>
            <p class="quote-text border-l-4 border-gray-200 pl-4">Forgé par plus de 6 ans d'expérience dans les logiciels financiers, Cabinet Digital est l'alchimiste qui transforme la complexité en clarté. Notre savoir nous permet de décoder les tendances et d'illuminer l'avenir de la comptabilité et de la gestion financière.</p>
        </section>

        <section class="mb-12 relative overflow-hidden">
            <h2 class="text-black">Notre indépendance</h2>
            <p class="quote-text border-l-4 border-gray-200 pl-4">Cabinet Digital, tel un phare solitaire, brille par son indépendance financière. Sans l'ombre d'influences externes, nous projetons une lumière pure et impartiale sur le monde des logiciels, guidant notre communauté vers des choix éclairés.</p>
        </section>

        <section class="mb-12 relative overflow-hidden">
            <h2 class="text-black">Collaboration avec les éditeurs</h2>
            <p class="quote-text border-l-4 border-gray-200 pl-4">Nous invitons les créateurs de logiciels à rejoindre notre odyssée numérique. Ensemble, tissons la toile de connaissances qui propulsera les professionnels vers de nouveaux horizons technologiques. Contactez-nous pour ajouter votre étoile à notre constellation d'innovations.</p>
        </section>

        <section class="relative overflow-hidden">
            <h2 class="text-black">Contactez-nous</h2>
            <p class="quote-text border-l-4 border-gray-200 pl-4">Pour toute question, idée lumineuse ou proposition de collaboration, envoyez un signal à : <a href="mailto:contact@cabinetdigital.fr" class="text-black hover:underline">contact@cabinetdigital.fr</a></p>
        </section>
    </div>
</div>
{% endblock %}