{% extends 'base.html' %}
{% load static %}

{% block title %}
Actualités des logiciels pour experts-comptables et PME - Cabinet Digital
{% endblock %}

{% block meta_description %}
<meta name="description" content="Dernières actualités et tendances en expertise comptable et logiciels pour experts-comptables.">
<meta property="og:title" content="Actualités des logiciels pour experts-comptables et PME - Cabinet Digital">
<meta property="og:description" content="Dernières actualités et tendances en expertise comptable et logiciels pour experts-comptables et PME.">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'cabinet_logos/OG_image_cabinetdigital.png' %}">
<meta property="og:site_name" content="Cabinet Digital">
{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-sm border border-gray-200">
    {% include 'partials/breadcrumb.html' %}
    {% include "partials/custom_header.html" with header_text="actualités" header_prefix="Dernières " header_suffix="des logiciels" %}

    <div class="grid gap-6 md:gap-8 md:grid-cols-2 lg:grid-cols-3">
        {% for actualite in actualites %}
        <div class="transition-all duration-200">
            {% include "template_card_article.html" with article=actualite detail_url_name='actualite_detail' %}
        </div>
        {% empty %}
        <div class="col-span-full flex items-center justify-center min-h-[300px] bg-sky-50/50 rounded-xl border border-sky-100">
            <p class="text-xl text-gray-600">Aucune actualité disponible pour le moment.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
