{% extends "base.html" %}
{% load static %}

{% block meta_description %}
<title>Guides et comparatifs de logiciels pour experts-comptables - Cabinet Digital</title>
<meta name="description" content="Accéder à tous nos articles dédiés aux logiciels pour experts comptables et l'évolution technologique de la profession.">
<meta property="og:title" content="Guides et comparatifs de logiciels pour experts-comptables - Cabinet Digital">
<meta property="og:description" content="Accéder à tous nos articles dédiés aux logiciels pour experts comptables et l'évolution technologique de la profession.">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'cabinet_logos/OG_image_cabinetdigital.png' %}">
<meta property="og:site_name" content="Cabinet Digital">
{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg border border-gray-200">
    <h1 class="custom-header">Articles</h1>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {% for article in object_list|dictsortreversed:"pub_date" %}
            {% include "template_card_article.html" with article_detail='article_detail' %}
        {% empty %}
        <div class="col-span-full text-center text-gray-600 py-16">
            <p class="text-xl">Aucun article disponible pour le moment.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}