{% extends 'base.html' %}
{% load static %}

{% block title %}
Cabinet Digital - Les catégories de logiciels pour experts-comptables et financiers
{% endblock %}

{% block meta_description %}
<meta name="description" content="Découvrez les catégories de logiciels pour experts comptables et financiers. Trouvez les meilleurs outils pour vos besoins professionnels, filtrés par catégorie et facilement recherchables.">
<meta property="og:title" content="Cabinet Digital - Les catégories de logiciels pour experts-comptables et financiers">
<meta property="og:description" content="Découvrez les catégories de logiciels pour experts comptables et financiers. Trouvez les meilleurs outils pour vos besoins professionnels, filtrés par catégorie et facilement recherchables.">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'cabinet_logos/OG_image_cabinetdigital.png' %}">
<meta property="og:site_name" content="Cabinet Digital">
{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-sm border border-gray-200">
    <h1 class="custom-header">Catégories de logiciels</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for category in categories %}
            <div class="group [&:hover_#numlogiciel]:bg-white">
                <a href="{% url 'category_detail' category.slug %}" class="block h-full">
                    <div class="bg-white border border-gray-200 rounded-lg  hover:bg-sky-50 p-4 transition-all duration-300 group-hover:border-sky-200 h-full flex flex-col justify-between relative">
                        <h2 class="text-lg font-medium text-gray-800 group-hover:text-sky-600 mt-4">
                            {% if category.icon %}
                                <img src="{{ category.icon.url }}" alt="{{ category.name }}" class="w-6 h-6 mr-2 inline-block">
                            {% endif %}
                            {{ category.name }}
                        </h2>
                        <span id="numlogiciel" class="absolute top-2 right-2 inline-block px-2 py-1 text-xs font-medium bg-sky-50 text-sky-700 rounded-full hover:bg-sky-100 hover:text-sky-800 transition-colors duration-300 shadow-sm hover:shadow-md">
                            {{ category.software_count }} logiciel{% if category.software_count > 1 %}s{% endif %}
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}