{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
<title>Les {{ softwares|length }} meilleures {{ category.excerpt }}</title>
<meta name="description" content="Découvrez les {{ softwares|length }} meilleures {{ category.excerpt }}. Découvrir et trouver la solution qui répond à vos besoins parmis la liste.">
<meta property="og:title" content="Les {{ softwares|length }} meilleures {{ category.excerpt }}">
<meta property="og:description" content="Nous avons répertorié les meilleures {{ category.excerpt }}. Trouver la solution qui répond à vos besoins parmis la liste.">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'cabinet_logos/OG_image_cabinetdigital.png' %}">
<meta property="og:site_name" content="Cabinet Digital">
{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto bg-white p-4 sm:p-6 rounded-lg shadow-sm border-2 border-gray-200">
    <div class="relative mb-8 bg-sky-50 p-6 rounded-lg shadow-sm border border-gray-200">
        <div class="relative flex flex-col items-center">
            <h1 class="text-2xl sm:text-3xl font-bold text-black text-center">
                Les {{ count }} meilleures {{ category.excerpt }}
            </h1>
        </div>
    </div>
    
    {% if category.description %}
        <div class="relative prose max-w-none text-gray-700 leading-relaxed p-8">
            {{ category.description|safe }}
        </div>
    {% endif %}
    
    <div class="mb-6 sm:mb-8 bg-white rounded-lg shadow-sm border border-gray-200">
        <h2 class="text-xl sm:text-2xl font-semibold p-2 border-b border-gray-200 bg-sky-50 text-center">
            Logiciels de la catégorie
            <span class="inline-block bg-black text-white px-2 py-1 rounded-lg mt-2 sm:mt-0">{{ category.name }}</span>
        </h2>
        <div class="p-4 sm:p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">
            {% for software in softwares %}
                {% include 'template_card_software.html' with software=software %}
            {% empty %}
            <p class="col-span-full text-center text-gray-600 py-4 sm:py-6">Aucun logiciel disponible dans cette catégorie pour le moment.</p>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}