{% load custom_filters %}


<div id="software-list-content">
    <div class="grid"> {% for software in softwares %} {% if forloop.counter0|divisibleby:3 %}
        <div class="row"> 
            {% endif %} 
            <div class="column"> 
                {% include 'card.html' with software=software %} 
            </div> 
        {% if forloop.counter|divisibleby:3 or forloop.last %}
     </div> 
     {% endif %} 
     {% empty %} 
     <p>Aucun logiciel trouvé</p>
        {% endfor %}
    </div>
</div>
<style>
    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        display: flex;
        width: 100%;
    }

    .column {
        flex: 0 0 33.33%;
        padding: 10px;
    }
</style>


<nav aria-label="Pagination" class="pagination">
    {% if page_obj.has_previous %}
    <ul>
        <li>
            <a href="#" role="button"
                hx-get="{% url 'software_list' %}?page={{ page_obj.previous_page_number }}&category={{ request.GET.category }}"
                hx-target="#software-list-content" hx-swap="innerHTML" hx-push-url="true">
                Précédent
            </a>
        </li>
    </ul>
    {% endif %}

    <ul>
        <li>
            <a href="#" aria-current="page">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
            </a>
        </li>
    </ul>

    {% if page_obj.has_next %}
    <ul>
        <li>
            <a href="#" role="button"
                hx-get="{% url 'software_list' %}?page={{ page_obj.next_page_number }}&category={{ request.GET.category }}"
                hx-target="#software-list-content" hx-swap="innerHTML" hx-push-url="true">
                Suivant
            </a>
        </li>
    </ul>
    {% endif %}
</nav>
</div>