<div x-data="{ hover: false }" 
     @mouseenter="hover = true" 
     @mouseleave="hover = false"
     :class="{ 'shadow-lg translate-y-[-3px]': hover, 'shadow-sm': !hover }"
     class="bg-white rounded-xl overflow-hidden border border-gray-100 relative flex flex-col transition-all duration-300 ease-in-out">
    <div class="absolute top-3 left-3 flex flex-wrap gap-2">
        {% for tag in article.tags.all %}
        <span x-show="true"
              x-transition:enter="transition ease-out duration-300"
              x-transition:enter-start="opacity-0 transform scale-90"
              x-transition:enter-end="opacity-100 transform scale-100"
              :class="{ 'shadow-md translate-y-[-1px]': hover }"
              class="px-2.5 py-1 text-xs font-medium text-white rounded-lg bg-opacity-90 transition-all duration-300" 
              style="background-color: {{ tag.color }};">
            {{ tag.name }}
        </span>
        {% endfor %}
    </div>
    <div class="p-3 mt-auto">
        <p class="text-sm text-gray-400 flex items-center justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block mr-1.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            {{ article.pub_date|date:"d/m/Y" }}
        </p>
    </div>
    <div class="px-5 flex-grow mb-3 flex flex-col justify-center">
        <a href="{% url article_detail article.slug %}" 
           class="block mb-1.5 group">
            <h2 :class="{ 'text-sky-600': hover }"
                class="text-base font-medium tracking-tight text-gray-800 transition-all duration-300">
                {{ article.title }}
            </h2>
        </a>
        <p x-show="hover"
           x-transition:enter="transition ease-out duration-200" 
           x-transition:enter-start="opacity-0 transform translate-y-2"
           x-transition:enter-end="opacity-100 transform translate-y-0"
           x-transition:leave="transition ease-in duration-150"
           x-transition:leave-start="opacity-100 transform translate-y-0"
           x-transition:leave-end="opacity-0 transform translate-y-2"
           class="text-sm text-gray-500 italic">
           {{ article.description|truncatewords:20 }}
        </p>
    </div>
</div>
