<div x-data="{ hover: false }" 
     @mouseenter="hover = true" 
     @mouseleave="hover = false"
     :class="{ 'shadow-lg': hover, 'shadow-md': !hover }"
     class="bg-white rounded-lg overflow-hidden border border-gray-200 relative flex flex-col transition-all duration-300">
    <div class="absolute top-0 left-0 flex flex-wrap gap-1">
        {% for tag in article.tags.all %}
        <span class="px-2 py-1 text-xs font-semibold text-white truncate" style="background-color: {{ tag.color }};">
            {{ tag.name }}
        </span>
        {% endfor %}
    </div>
    <div class="p-2 mt-auto">
        <p class="text-sm text-gray-400 flex items-center justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            {{ article.pub_date|date:"d/m/Y" }}
        </p>
    </div>
    <div class="px-4 flex-grow mb-2 flex flex-col justify-center">
        <a href="{% url article_detail article.slug %}" class="block mb-1">
            <h2 x-bind:class="{ 'text-sky-600': hover }" 
                class="text-base font-medium tracking-tight text-gray-800 transition-colors duration-200">
                {{ article.title }}
            </h2>
        </a>
        <p class="text-sm text-gray-500 italic"></p>
    </div>

</div>
